<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
	{% load static %}
		<title>Main page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'SurfersBible/css/main.css' %}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="" class="logo">SURFERS' BIBLE</a>
					<nav id="nav">
						<a href="">Home</a>
						<a href="shark">Explore Safe Beaches</a>
						
						</nav>
					</div>
				</header>
				<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

			<!-- Banner -->
				<section class="banner full">
				<article>
					<img src="{% static 'SurfersBible/images/shark.jpg' %}" alt="" />
					<div class="inner">
						<header>
							<p>YOUR SAFETY AT SEA IS OUR <a href="{% static 'SurfersBible/images/slide01.jpg' %}">PRIORITY</a></p>
							<h3>Shark Prediction and Presence Prediction</h3>
						</header>
					</div>
				</article>
				<article>
					<img src="{% static 'SurfersBible/images/banner.jpg' %}" alt="" />
					<div class="inner">
						<header>
							<p>We provide information that helps you choose safe surfing experience</p><br>
							<h3>Best Surfing Place</h3>
						</header>
					</div>
				</article>
				<article>
					<img src="{% static 'SurfersBible/images/hospital.jpg' %}"  alt="" />
					<div class="inner">
						<header>
							<p>We provide information about emergency service near beaches in case of injury</p><br>
							<h3>Emergency Support</h3>
						</header>
					</div>
				</article>
				<!-- <article> -->
					<!-- <img src="{% static 'SurfersBible/images/josh-withers-7W3tiR20hdw-unsplash.jpg' %}"  alt="" /> -->
					<!-- <div class="inner"> -->
						<!-- <header> -->
							<!-- <p>There have a best surfing destionations</p><br> -->
							<!-- <h3>Beach Recommendation</h3> -->
						<!-- </header> -->
					<!-- </div> -->
				<!-- </article> -->
			</section>

			<!-- One -->

				<!-- <section id="one"> -->
					<!-- <div class="inner"> -->
							<!-- <h3>Select your favorite data to get recommendations</h3> -->
								<!-- <label for="start">Start date:</label> -->
						<!-- <input type="date" id="start" name="trip-start" -->
						       <!-- value="2020-04-22" -->
						       <!-- min="2020-01-01" max="2020-12-31"> -->
									 <!-- <p></p> -->
				<!-- <ul class="actions"> -->
		 						<!-- <li><a href="shark" class="button alt">submit</a></li> -->
		 	 <!-- </ul> -->
				<!-- </section> -->

			<!-- Two -->
				<section id="two">
					<div class="inner">
						<article>
							<div class="content">
								<header>
									<h3>Shark Prediction</h3>
								</header>
								<div class="image fit">
									<img src="{% static 'SurfersBible/images/pic01.jpg' %}" alt="" />
								</div>
								<p >We make a prediction of shark attack.
								<br>We make a prediction of shark presence.     </p>
							</div>
						</article>
						<article class="alt">
							<div class="content">
								<header>
									<h3>Support Service</h3>
								</header>
								<div class="image fit">
									<img src="{% static 'SurfersBible/images/emergency.jpg' %}" alt="" />
								</div>
								<p>We provide a list of nearest hospitals.
								<br>We recommend support service near beaches which has quicker response to attend patient</p>
							</div>
						</article>
					</div>
				</section>

			<!-- Three -->
			<section id="three">
					<div class="inner">
						<article>
							<div class="content">
								<svg class="bi bi-person-fill" width="2.5em" height="2.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						  <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
						</svg>
								<header>
									<h3>WHO WE ARE </h3>
								</header>
								<p>The project team “Aqua Wizards” is a professional website development team founded by a group of students who are motivated to create innovative technology products to deal with issues of water injury and committed to reducing surfing injury or accident in Australia per year.
	</p>
							</div>
						</article>
						<article>
							<div class="content">
								<svg class="bi bi-check-box" width="2.5em" height="2.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			  <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
			  <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 003 14.5h10a1.5 1.5 0 001.5-1.5V8a.5.5 0 00-1 0v5a.5.5 0 01-.5.5H3a.5.5 0 01-.5-.5V3a.5.5 0 01.5-.5h8a.5.5 0 000-1H3A1.5 1.5 0 001.5 3v10z" clip-rule="evenodd"/>
			</svg>
								<header>
									<h3>What We Do</h3>
								</header>
								<p>Our project attempts to recommend the safest beach to Australian surfers by inculcating unique features such as shark attack prediction, recommend the best emergency department of the surfing area and insights about the potentially favourable environment for better surfing experience. </p>
							</div>
						</article>
						<article>
						<div class="content">
							<svg class="bi bi-flag" width="2.5em" height="2.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
	<path fill-rule="evenodd" d="M3.5 1a.5.5 0 01.5.5v13a.5.5 0 01-1 0v-13a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
	<path fill-rule="evenodd" d="M3.762 2.558C4.735 1.909 5.348 1.5 6.5 1.5c.653 0 1.139.325 1.495.562l.032.022c.391.26.646.416.973.416.168 0 .356-.042.587-.126a8.89 8.89 0 00.593-.25c.058-.027.117-.053.18-.08.57-.255 1.278-.544 2.14-.544a.5.5 0 01.5.5v6a.5.5 0 01-.5.5c-.638 0-1.18.21-1.734.457l-.159.07c-.22.1-.453.205-.678.287A2.719 2.719 0 019 9.5c-.653 0-1.139-.325-1.495-.562l-.032-.022c-.391-.26-.646-.416-.973-.416-.833 0-1.218.246-2.223.916a.5.5 0 11-.515-.858C4.735 7.909 5.348 7.5 6.5 7.5c.653 0 1.139.325 1.495.562l.032.022c.391.26.646.416.973.416.168 0 .356-.042.587-.126.187-.068.376-.153.593-.25.058-.027.117-.053.18-.08.456-.204 1-.43 1.64-.512V2.543c-.433.074-.83.234-1.234.414l-.159.07c-.22.1-.453.205-.678.287A2.719 2.719 0 019 3.5c-.653 0-1.139-.325-1.495-.562l-.032-.022c-.391-.26-.646-.416-.973-.416-.833 0-1.218.246-2.223.916a.5.5 0 01-.554-.832l.04-.026z" clip-rule="evenodd"/>
	</svg>
								<header>
									<h3>Our Mission</h3>
								</header>
								<p>We intend to reduce water injury or accident for every Australia surfers during their surfing, we make best destionations for everyone to improve your experience.Please share us to your friends or make feedback to help us to improve our webiste and service in the future.Thank you for your every visiting.</p>

							</div>
						</article>
					</div>
				</section>
				<!-- <div style="align-content: center; margin: 0; position: absolute; top: 50%; left: 50%; padding-top: 10%; -ms-transform: translateX(-50%); transform: translateX(-50%);"><br/><br/> -->
					<!-- <button><a href="shark"type="button" class="btn btn-link" style="color:white;">Explore Safe Beaches</a></button> -->
				<!-- <br/><br/></div> -->

			<!-- Footer -->
				<section id="footer">
					<div class="inner">
						<!-- <header> -->
							<!-- <h2>Get in Touch</h2> -->
						<!-- </header> -->
						<!-- <form method="post" action="/Users/xiejia/Desktop/finally /thanku.html"> -->
							<!-- <div class="field half first"> -->
								<!-- <label for="name">Name</label> -->
								<!-- <input type="text" name="name" id="name" required/> -->
							<!-- </div> -->
							<!-- <div class="field half"> -->
								<!-- <label for="email">Email</label> -->
								<!-- <input type="text" name="email" id="email" required /> -->
							<!-- </div> -->
							<!-- <div class="field"> -->
								<!-- <label for="message">Message</label> -->
								<!-- <textarea name="message" id="message" rows="6"></textarea> -->
							<!-- </div> -->
							<!-- <ul class="actions"> -->
									<!-- <li><input type="submit" value="Send Message" class="alt" /></li> -->
								<!-- </ul> -->
						<!-- </form> -->

						<div class="copyright">
							&copy; Aqua Wizards 2020
						</div>
					</div>
				</section>

			<!-- Scripts -->
				<script src="{% static 'SurfersBible/js/jquery.min.js' %}"></script>
				<script src="{% static 'SurfersBible/js/skel.min.js' %}"></script>
				<script src="{% static 'SurfersBible/js/util.js' %}"></script>
				<script src="{% static 'SurfersBible/js/main.js' %}"></script>
				<script src="{% static 'SurfersBible/js/jquery.scrollex.min.js' %}"></script>
				<script src="{% static 'SurfersBible/js/main1.js' %}"></script>
				

		</body>
	</html>
