<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  {% load static %}
    <meta charset="utf-8">
    <title>Explore Safe Beaches</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- <title>Beaches</title> -->
    <meta name="description" content="">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/main.css' %}">
  </head>
  <body>
    <!-- Header -->
      <header id="header">
        <div class="inner">
          <a href="index" class="logo">SURFERS' BIBLE</a>
          <nav id="nav">
            <a href="index">Home</a>
            <a href="shark">Explore Safe Beaches</a>
            
        </div>
      </header>
      <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>


      <!-- <section id="banner" style="background-image: url({% static 'SurfersBible/images/pic121.jpg' %})"> -->
        <!-- <div class="inner"> -->
          <!-- <h1>Australia </h1> -->
          <!-- <h5>The top recommendation list to start your surfing journey</h5> -->

          <!-- <ul class="actions"> -->
            <!-- <li><a href="#footer" class="button alt">Contact Us</a></li> -->
          <!-- </ul> -->
        </div>
      </section>
       <section class="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="title text-center">
                <h2>Victoria's Safest Beaches</h2>
              </div>
              <!-- <div class="protfolio-mixitup-btn text-center"> -->
                <!-- <button class="filter btn btn-default btn-main" data-filter=".all">Shark Prediction</button> -->
                <!-- <button class="filter btn btn-default btn-main" data-filter=".category-1">Shark Sighting</button> -->
              <!-- </div> -->
			  </div>
			  </div>
			 </div>
			  

              <div id="Container">
					
					<div class="row">
					{% for beach in beaches %}
                <div class="mix col-md-4 col-sm-6 col-xs-12 all category-1" data-my-order="1">
                  <div class="portfolio-list">
                     <div class="th-mouse-portfolio-card">
                       <div class="thumbnail portfolio-thumbnail">
							
								<p style="text-align: center;">{{beach.imgurl}}</p>
								 <img src="/static/SurfersBible/images/{{ beach.imgurl }}.jpg" alt="Portfolio" style="width:inherit; height:300px;">
							
							  <div class="caption portfolio-caption">
									<p class="date" >{{beach.beach_name}}</p>
									<p class="date"> Victoria</p>
									{% for predict in prediction %}
										{% if predict.beach_name == beach.beach_name %}
											<p class="date"> Today's Shark Attack possibility {{predict.shark_attack_percentage}}</p>
											<p class="date"> Today's Shark Presence possibility {{predict.shark_sighting_percentage}}</p>
											<form action="prediction" method=POST>
											{% csrf_token %}
											<input type="hidden" name="latitude" value="{{ predict.latitude }}">
											<input type="hidden" name="longitude" value="{{ predict.longitude }}">
											<input type="hidden" name="name" value="{{ beach.beach_name }}">
											<button type="submit"><a type="button" class="btn btn-link">Explore</a></button>
											</form>
										{% endif %}
									{% endfor %}
                          </div>
                       </div>
                        </div>
                        </div>
							</div>
							{% endfor %}
                        </div>
						
					</div>

      </section>

      <!-- Footer -->
				<section id="footer">
					<div class="inner">
						<!-- <header> -->
							<!-- <h2>Get in Touch</h2> -->
						<!-- </header> -->
						<!-- <form method="post" action="/Users/xiejia/Desktop/finally /thanku.html"> -->
							<!-- <div class="field half first"> -->
								<!-- <label for="name">Name</label> -->
								<!-- <input type="text" name="name" id="name" required/> -->
							<!-- </div> -->
							<!-- <div class="field half"> -->
								<!-- <label for="email">Email</label> -->
								<!-- <input type="text" name="email" id="email" required /> -->
							<!-- </div> -->
							<!-- <div class="field"> -->
								<!-- <label for="message">Message</label> -->
								<!-- <textarea name="message" id="message" rows="6"></textarea> -->
							<!-- </div> -->
							<!-- <ul class="actions"> -->
									<!-- <li><input type="submit" value="Send Message" class="alt" /></li> -->
								<!-- </ul> -->
						<!-- </form> -->

						<div class="copyright">
							&copy; Aqua Wizards 2020
						</div>
					</div>
				</section>




          <script src="{% static 'SurfersBible/js/jquery.min.js' %}"></script>
          <script src="{% static 'SurfersBible/js/bootstrap.min.js' %}"></script>
          <script src="{% static 'SurfersBible/js/skel.min.js' %}"></script>
		  <script src="{% static 'SurfersBible/js/util.js' %}"></script>
		  <script src="{% static 'SurfersBible/js/main.js' %}"></script>
		
		  <script src="{% static 'SurfersBible/js/script.js' %}"></script>
        </body>
      </html>
